# Ignore everything...
*

# ... except preferences
!.gitignore
!LICENSE.md
!AdvancedNewFile.sublime-settings
!blade.sublime-settings
!clog.sublime-snippet
!CSS.sublime-settings
!Default (OSX).sublime-keymap
!Emmet.sublime-settings
!factory.sublime-snippet
!GitGutter.sublime-settings
!HTML (Twig).sublime-settings
!JavaScript (Babel).sublime-settings
!lipsum.sublime-snippet
!Package Control.sublime-settings
!PHP Companion.sublime-settings
!PHP.sublime-settings
!Preferences.sublime-settings
!phpDieDump.sublime-snippet
!phpDump.sublime-snippet
!phpMethod.sublime-snippet
!phpTest.sublime-snippet
!Sass.sublime-settings
!SCSS.sublime-settings
!SublimePhpCsFixer.sublime-settings
!vue.sublime-snippet
